[[extend 'layout.html']]

<div id="vue-target">
  <section class="section">
  	<span v-on:click="toggleNote" class title is-2>
  		<i v-if="!addNoteState" class="fa fa-plus-circle"></i>
  		<i v-if="addNoteState" class="fa fa-minus-square"></i>
  		
  	</span>
  	<div v-if="addNoteState">
  		<label>TITLE</label>
  		<div class="control is-medium">
  			<input type="text" v-model="text" class="input is-focused" placeholder="Focused input"></input>
  			
  		</div>
  		<label>ADD NOTE</label>
  		<div class="control is-medium">
  			<input type="text" v-model="content" class="textarea" placeholder="10 lines of textarea">
  		</div>
  		<h1>color picker</h1>
  		<span>
  			<button class="button f-red-color">RED</button>
  			<button class="button f-blue-color">BLUE</button>
  			<button class="button f-green-color">GREEN</button>
  			<button class="button f-yellow-color">YELLOW</button>
  			<button class="button f-purple-color">PURPLE</button>
  			<button class="button f-pink-color">PINK</button>
  		</span>
  		<h1>submit button</h1>
  		<button v-on:click="submit" class="button is-primary">
  			submit
  		</button>
  		
  	</div>
  </section>

  <section class="section">
		<div class="columns is-multiline is-mobile">
			<div v-for="note in notes" class="column is-one-third">
				<!-- <div class="notifaction is-primary">
					<strong>Note: {{note}}</strong>
				</div> -->
				<note v-bind:note_title ="note.title" v-bind:note_id="note.id" v-bind:note_content="note.content"></note>
			</div>	
		</div>
	</section>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
	let callback_url = "[[=XML(callback_url)]]";
	let add_note_url = "[[=XML(add_note_url)]]";
	let get_notes_url = "[[=XML(get_notes_url]]";


</script>
<script src="js/index.js"></script>
[[end]]